body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}

#menuCentent{
    width: 850px;
    display: inline-block;
}

#topMenu{
    text-align: center;
    height: 265px;
    width: 1350px;
    margin: auto;
}

#topMenuTxt{
    margin-top: 15px;
    float: left;
}

#header{
    font-size: 40px;
    color: #ffffff;
}

#headerTwo{
    font-size: 18px;
    color: #ffffff;
}

#links{
    text-align: center;
    height: 100px;
    width: 850px;
    margin: auto;
    display: inline-block;
    float: left;
}

.topMenuLink{
    margin-top: 34px;
    color: #ffffff;
    width: 6em;
    text-decoration: none;
    padding: 0.2em 0.6em;
    border-left: 1px solid white;
    display: inline-block;
}

#activities{
    border-right: 1px solid white;
}
